<style type="text/css">
<!--

body.nav {font-family: arial, helvetica, sans-serif; background-color: #990000}
body.nav {font-family: arial, helvetica, sans-serif; background-color: #990000}
a.nav:hover {color: #FFFF99; text-decoration: underline; font-weight: normal}
a.nav {color: #FFFFFF; text-decoration: none}
.navtitle {font-family: arial, helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #FFFFFF}
.navtitle2 {font-family: arial, helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #FFFFFF}


body.main {font-family: arial, helvetica, sans-serif; background-color: #FCF0BC}
body.welcome {font-family: arial, helvetica, sans-serif; background-color: #FFFFFF}
a {color: #990000}
a:hover {color: #996600}

p	{font-family: arial, helvetica, sans-serif}
th	{font-family: arial, helvetica, sans-serif}
td	{font-family: arial, helvetica, sans-serif}
ul	{font-family: arial, helvetica, sans-serif}
ol	{font-family: arial, helvetica, sans-serif}
dl	{font-family: arial, helvetica, sans-serif}
dl.links	{font-family: arial, helvetica, sans-serif; font-size: 12px}
h1	{font-family: arial, helvetica, sans-serif}
h2	{font-family: arial, helvetica, sans-serif}
h3	{font-family: arial, helvetica, sans-serif}
h3.nav	{font-family: arial, helvetica, sans-serif; color: #FFFFFF}
h4	{font-family: arial, helvetica, sans-serif}
h5	{font-family: arial, helvetica, sans-serif}
h6	{font-family: arial, helvetica, sans-serif}


.title01 {font-family: arial, helvetica, sans-serif; font-size: 18px; font-weight: bold}
.title02 {font-family: arial, helvetica, sans-serif; font-size: 22px; font-weight: bold}
.author {font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: bold}
.small {font-family: arial, helvetica, sans-serif; font-size: 10px; font-weight: normal}

.sup-nav-title	{font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF}
.sup-nav	{font-family: arial, helvetica, sans-serif; font-size: 11px}
.sup-header	{font-family: arial, helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #FFFFFF}

.footer {font-family: arial, helvetica, sans-serif; font-size: 10px}

td.box { padding: 5px; width: 400px; }

p.break { font-size: 5px; }






-->
</style>
